* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('bannerr.jpgjpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

#sport {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#profile {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

#sport {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(61, 39, 39);
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 253, 253);
    margin: 70px;
    align-items: center;
    text-align: justify;
    padding: 40px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(238, 179, 179) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

.box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}